.auctex-auto/pythonQuant.el
.auctex-auto/pythonQuant.el
Learning-Sympy/.vscode
Report/texfrag
Problems/Chaos/Fractals/Julia-Mandelbrot/0
Problems/Chaos/mandelbrot-400mpx.fits
**/.DS_Store
**/.auctex-auto
**/texfrag
**/_minted*
**/_region_*
**/*.log
**/livepreview/*
**/livepreview
Outline/reveal.js
Outline/large-gnuplot-mandelbrot.svg
Problems/.vscode
Report/texfrag/pythonQuant.org.prv
Report/texfrag/.auctex-auto
